*{
    margin: 0;
    padding: 0;
}
.dotgothic16-regular {
    font-family: "DotGothic16", serif;
    font-weight: 400;
    font-style: normal;
  }
  
html{
    overflow: auto;
}
body{
    background-image: url(../img/hanabi\(\).gif);
    overflow: hidden;
    background-color: #2d4da5;
    width: 100vw;
    height: 100vh;
}
.st a{
    height: 10vh;
    width: 20vw;
    background-color: #969dff;
    border: none;
    border-radius: 5em;
    font-size: 2.5em;
    color: #fff;
    display: block;
    margin: 8% auto;
    padding-top: 0.5%;
    text-decoration: none;
    white-space: nowrap
}

.st a :hover{
    background-color: #888fea;
}
.st{
    width: 90%;
    height: 100%;
    margin: 5% auto;
    text-align: center;
}

.hamburger{
    margin: 5% 0 0 5%;
    z-index: 3;
}
.nav-wrapper {
    position: fixed;
    top: 0;
    left: -250px; /* 初期状態で左に隠す */
    width: 250px;
    height: 100%;
    background-color: #888fea;
    transition: left 0.3s ease;
    padding: 12% 0 0 5%;
    z-index: 2;
}
.nav-wrapper.open {
    left: 0;
}
.nav-wrapper a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.nav-wrapper a:hover {
    background-color: #2d4da5;
}
.hamburger {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: #888fea;
    border-radius: 50em;
    padding: 20px;
}
.black-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(145, 145, 145, 0.5);
    display: none;
}
.black-bg.active {
    display: block;
    z-index: 1;
}
.rogo{
    width: 40vw;
    height: 50vh;
    margin: 0 auto;
}
.baku{
    text-align: center;
    margin: 10% auto 0 auto;
    color: #eee;
    background-color: #223876;
    padding: 1%;
    width: 30%;
    font-size: 1.5em;
}
.baku ul{
    list-style-type: none;
}
.baku li{
    margin: 2% 10%;
}
.sousa{
    border-bottom: dashed #fff 2px;
    margin: 0 10%;
    font-weight:normal
}
.sousa2{
    font-size: 0.8em;
}